# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Prisma related files
prisma/.env
prisma/migrations/
prisma/dev.db
prisma/dev.db-journal

# Database files
*.sqlite
*.sqlite3
*.db
*.db-wal
*.db-shm
dump.sql

# VSCode settings and MacOS files
.vscode/
.DS_Store

# Build files
dist/
build/
coverage/

# Other OS-related files
Thumbs.db
